<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
	  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	  
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">
      <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css"/>

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
        {% block sidebar %}
            <div class="sidebar">
                <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% for link in config.extra.hyde_links %}
                        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                        {% endblock sidebar_nav %}
                    </ul>
					
					<nav class="sidebar-social" style="margin-bottom: 0.5rem;">
						<a href="https://github.com/jamesravi" target="_blank" title="GitHub"><i class='bx bxl-github bx-md'></i></a>
						<a href="https://www.linkedin.com/in/james-ravindran" target="_blank" title="GitHub"><i class='bx bxl-linkedin-square bx-md' ></i></a>
					</nav>
					
					<p>© 2024. All rights reserved. </p>
                </div>
            </div>
        {% endblock sidebar %}

        <div class="content container">
			{% block content %}
			<div class="post">
			  <h1 class="post-title">{{ section.title }}</h1>
			  {{ section.content | safe }}
			</div>
			{% endblock content %}
        </div>
    </body>

{% if config.base_url != "http://127.0.0.1:1111" %}
<script defer src="https://cloud.umami.is/script.js" data-website-id="4e8b83df-586f-4a3f-aa62-029ee33a4be2"></script>
<script data-goatcounter="https://jamesrav.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{% endif %}

<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.littlefoot() // Pass any littlefoot settings here.
</script>

</html>
